<!DOCTYPE html>
<html>
<head>
  <title>Yekra001</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div class="col-med-12 nav">
  <%= link_to "Step 1", step_one_path %> | <%= link_to "Step 2", step_two_path %>
</div>

<%= yield %>
</div>

</body>
</html>
